<a href="https://colab.research.google.com/github/shiva02634/298/blob/main/Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Part 1: Print numbers from 1 to n using a for loop
n = int(input("Enter a positive integer: "))

print("\nNumbers from 1 to", n, ":")
for i in range(1, n + 1):
    print(i)

# Part 2: Calculate the sum of numbers from 1 to n using a while loop
sum_numbers = 0
counter = 1

while counter <= n:
    sum_numbers += counter
    counter += 1

print("\nThe sum of numbers from 1 to", n, "is:", sum_numbers)

Enter a positive integer: 56

Numbers from 1 to 56 :
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56

The sum of numbers from 1 to 56 is: 1596

In [2]:
import pandas as pd

# Step 1: Create the DataFrame
data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)

# Step 2: Display the first 2 rows of the DataFrame
print("First 2 rows of the DataFrame:")
print(df.head(2))

# Step 3: Add a new column "Bonus" where the bonus is 10% of the salary
df["Bonus"] = df["Salary"] * 0.10
print("\nDataFrame after adding 'Bonus' column:")
print(df)

# Step 4: Calculate the average salary of employees
average_salary = df["Salary"].mean()
print(f"\nThe average salary of employees is: {average_salary:.2f}")

# Step 5: Filter and display employees who are older than 25
filtered_employees = df[df["Age"] > 25]
print("\nEmployees who are older than 25:")
print(filtered_employees)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame after adding 'Bonus' column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

The average salary of employees is: 47500.00

Employees who are older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0